@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sono', sans-serif;

  /* background-color: #0f172a; */
}
.dark {
  background-color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.CenterComponent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.FCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  font-family: 'Shadows Into Light', cursive;
}
